page-home {
    .card-container {
        height: 90vw;
        width: 90vw;
    }
    .user_img {
        display: block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}